.article__container {
    width: 486px;
    border-radius: 8px;
    background-color: #171D1F;
    flex-grow: 1;
}
.articleSlug__container {
    width: auto; 
    height: auto;
}
.image__container {
    background-color: #888888;
    border-radius: 8px 8px 0 0;
}
.image__item {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin: 0;
}
.image {
    border-radius: 8px;
}
.section__container {
    padding: 16px 16px;
}
.sectionSlug__container {
    height: auto;
}
.title__section__item {
    color: #BCBCBC;
    font-size: 18px;
    font-weight: 600;
}
.paragraf__section {
    margin: 8px 0;
    color: #BCBCBC;
    font-size: 15px;
    font-weight: 500;
}
.ancor__section__item {
    color: #81FE88;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}
.icon__container {
    display: flex;
    gap: 16px;
    text-align: center;
}
.icon__container p {
    color: #888888;
    font-size: 15px;
}
@media screen and (max-width:1200px) {
    .image {
        width: 700px;
    }
}
@media screen and (max-width: 960px) {
    .image {
        width: 500px;
    }
}
@media screen and (max-width: 700px) {
    .image {
        width: 350px;
        background-size: contain;
    }
    .slugImage {
        height: 200px;
    }

}
@media screen and (max-width: 518px) {
    .article__container {
        width: auto;
    }
}
@media screen and (max-width: 430px) {
    .image {
        width: 296px;
        height: 98px;
        background-size: contain;
    }
}
@media screen and (max-width: 376px) {
    .image {
        width: 250px;
    }
}